body {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 1em;
  font-weight: normal;
  color: #FFFFFF;
}

a:link {
  color: #AFE6E6;
}

h1, h2, h3, h4, h5, h6 {
  max-width: 65px;
}

main {
  margin: auto; 
  vertical-align: middle
}


html {
  background-color:#588B8B; 
}